Flask==1.0.2
git+https://github.com/ONSEIGmbH/flask-dialogflow.git@ba3a62e5a128c66d59e7ec189dce82fabbf4eb43
pandas==1.4.2
ngrok
aws-wsgi==0.2.7
click==8.0.4
itsdangerous==1.1.0
Jinja2==3.0.3
MarkupSafe==2.1.1
marshmallow==3.0.0rc5
marshmallow-enum==1.4.1
pip==21.1.1
python-dateutil==2.8.2
PyYAML==5.1
setuptools==56.0.0
simplejson==3.17.6
six==1.16.0
tabulate==0.8.3
Werkzeug==2.0.3
wheel==0.37.1
py2neo==2021.2.3
toml
